<div>
  <div>
    <%= recipe.name %>
    <% if can? :destroy, recipe %>
    <%= link_to 'Remove',
      recipe_path(recipe), data: {
                      turbo_method: :delete,
                      turbo_confirm: "Are you sure?"
                    },
      class: "btn btn-danger" %>
  </div>
  <div class="text-truncate">
    <%= recipe.description %>
  </div>
</div>