<p style="color: green"><%= notice %></p>

<h1>Public Recipes</h1>

<div id="recipes">
  <% @recipes.each do |recipe| %>
    <%= render 'public_recipe', recipe: %>
    <p>
      <%= link_to "Show this recipe", recipe %>
    </p>
  <% end %>
</div>
