<p style="color: green"><%= notice %></p>
<div class="container text-center">
  <div class="row">
    <div class="col">
      <h1>Foods</h1>
    </div>
    <div class="col">
      <%= link_to "Add new Food", new_food_path, class: "btn btn-primary" %>
    </div>
  </div>
  <div id="foods">
    <%= render 'shared/food_table' do %>
      <%= render @foods %>
    <% end %>
  </div>
</div>
