<p style="color: green"><%= notice %></p>
<div class="container text-center">
  <div class="row">
    <div class="col">
      <h1>Foods</h1>
    </div>
    <div class="col">
      <%= link_to "Add new Food", new_food_path %>
    </div>
  </div>
  <div id="foods">
    <div class="container-fluid">
      <table class="table table-primary table-striped">
        <thead class="table-dark">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Measurement unit</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @foods.each do |food| %>
            <%= render food %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
